body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: hidden;
}
#welcomePage {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  text-align: center;
  padding-top: 150px;
  padding-right: 5%;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
#player1player2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
#player1player2 p {
  font-size: 28px;
}
.enterButton {
  height: 100px;
  width: 150px;
  font-size: 28px;
}
#player1screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(10px);
  background-image: url(./images/tent.png);
  background-repeat: no-repeat;
  background-size: 110vw;
  background-position-x: -85px;
  background-color: #333;
}
#gameArea {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 6%;
}
p {
  color: white;
  padding: 0;
}
#accumulate {
  box-sizing: border-box;
  padding-top: 30px;
  margin-top: -10px;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: #888;
  box-shadow: 5px 5px 2px #222;
  color: white;
  font-size: 28px;
  text-align: center;
}
.button {
  margin-top: 20px;
  height: 25px;
  width: 100px;
  box-shadow: 5px 5px 2px #222;
}
#dice {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
  padding-left: -10%;
}
.dice1 {
  background-image: url(./images/dice1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dice2 {
  background-image: url(./images/dice2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dice3 {
  background-image: url(./images/dice3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dice4 {
  background-image: url(./images/dice4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dice5 {
  background-image: url(./images/dice5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.dice6 {
  background-image: url(./images/dice6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#play2intro {
  z-index: 10;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  text-align: center;
  padding-top: 150px;
  padding-right: 5%;
  display: none;
}
#player2screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  filter: blur(10px);
  background-image: url(./images/tent.png);
  background-repeat: no-repeat;
  background-size: 110vw;
  background-position-x: -85px;
  background-color: #333;
  z-index: 0;
}
.button:hover,
.enterButton:hover {
  cursor: pointer;
}
